
/* Page used in add Tag Heading */

.admin-heading {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #4caf50, #81c784);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .admin-heading h1 {
        font-size: 2.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        margin: 0;
        padding: 10px;
    }

        .admin-heading h1 span {
            color: #ffffff;
            background-color: #2e7d32;
            padding: 0 10px;
            border-radius: 5px;
        }
